




  <div class="content-wrapper">


    <div class="row">
      <h1 class="text-center mt-3 pt-3 mb-2 pb-2 txt"><span> Tech News</span></h1>


      <div class="col-lg-4 mb-4"  *ngFor="let x of tech">

    <div class="news-card">
      <img src="{{x.image}}" alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h4 class="news-card__title">{{x.head}}</h4>
        <div class="news-card__post-date">Jan 29, 2018</div>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">{{x.head1}}&hellip;</p>
          <a (click)="gotohere('tech',x.head)"  class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
    </div>

  </div>
    </div>
</div>
