

<div class="ticker-wrap mt-1">
  <div class="ticker-heading">Breaking News</div>
<div class="ticker">
  <div class="ticker__item">Letterpress chambray brunch.</div>
  <div class="ticker__item">Vice mlkshk crucifix beard chillwave meditation hoodie asymmetrical Helvetica.</div>
  <div class="ticker__item">Ugh PBR&B kale chips Echo Park.</div>
  <div class="ticker__item">Gluten-free mumblecore chambray mixtape food truck. </div>
</div>
</div>





<h2 class="hr-lines"> Latest News </h2>

<div class="top-news">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 tn-left ">
              <div class="tn-img">
                  <img src="assets/images/fp1.jpg" style="height: 470px;"/>
                  <div class="tn-content">
                      <div class="tn-content-inner">
                          <a class="tn-date" href=""><i class="far fa-clock"></i>05-Feb-2020</a>
                          <a class="tn-title" routerLink="">Russia’s TMH bids lowest for making 200 Vande Bharat trains in India</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 tn-right">
              <div class="row">
                  <div class="col-md-6" *ngFor="let h of home">
                      <div class="tn-img" >
                          <img src="{{h.image}}" style="height: 235px;"/>
                          <div class="tn-content">
                              <div class="tn-content-inner">
                                  <a class="tn-date" ><i class="far fa-clock"></i>{{h.date}}</a>
                                  <a class="tn-title" (click)="gotoSingle(h.id)">{{h.head}}</a>
                              </div>
                          </div>
                      </div>
                  </div>


              </div>
          </div>
      </div>
  </div>
</div>

<h2 class="hr-lines"> Breaking News </h2>



<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" *ngFor="let h of car">
      <img src="{{h.image}}" class="d-block w-100" alt="..." style="height: 500px;">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{h.head}}</h5>
        <p>{{h.head1}}</p>
      </div>

    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<h2 class="hr-lines"> Top News </h2>




<div class="container-fluid">

  <div class="row mb-5">
    <div class="col-md-3"  *ngFor="let x of database">
      <div class="card">
        <img src="{{x.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{x.head}}</h5>
          <p class="card-text text-muted">{{x.description}}</p>
          <a (click)="gotohere('normal',x.head)" class="btn btn-sm btn-primary">Read more</a>
        </div>
      </div>
    </div>

  </div>
